body {
    /* font-family: cursive; */
    font-family: 'Inter';
    font-style: normal;
    background-color: #888585;
}

label {
    color: #2e2929;
    font-size: 1rem;
    font-weight: bold;
}

/* BRAND CSS */

/* HOME PAGE */

.brand {
    position: absolute;
    background: #1d1e1f90;
    left: 0;
    top: 0;
    width: 450px;
    height: 688px;
    border-radius: 400px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.brand img {
    position: relative;
    top: 150px;
    left: 50px;
}

.inside {
    margin-left: 15px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 425px;
}
.text button{
    position: absolute;
    top: 426px;
    left: 620px;
}

a .login{
    left: 900px;
}

a .register{
    left: 700px;
}

.text p {
    font-size: 1.3rem;
    letter-spacing: 3px;
    color: #ffffff;
    position: absolute;
    width: 594px;
    height: 53px;
    left: 620px;
    top: 273px;
}

.text h5 {
    font-size: 2.5rem; 
    color: #ffffff;
    letter-spacing: 10px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    left: 552px;
    top: 126px;
}

/* END OF HOME PAGE */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/* REGISTER CSS */

.wrapper {
    border: 1px solid #ffffff;
    position: absolute;
    top: 25px;
    left: 450px;
    height: 620px;
    width: 522px;
    background: #ffffff;
    border-radius: 10px;
}

.wrapper h1 {
    text-align: center;
    margin-top: 7px;
}

.wrapper p {
    text-align: center;
    letter-spacing: 2px;
}

p span a {
    text-decoration: none;
}

.wrapper label {
    margin-left: 60px;
    color: #2e2929;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
}

span {
    color: red;
    font-weight: bold;
}

.wrapper input {
    margin-left: 50px;
    width: 400px;
    border: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 2.5px;
    padding: 5px;
}

.wrapper form button {
    margin-top: 90px;
    margin-left: 200px;
    letter-spacing: 2px;
}

/* END OF REGISTER CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/* LOGIN CSS */

.loginContainer {
    border: 1px solid #ffffff;
    position: absolute;
    top: 70px;
    left: 450px;
    height: 400px;
    width: 522px;
    background: #ffffff;
    border-radius: 10px;
}

.loginContainer h1 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.loginContainer p{
    letter-spacing: 2px;
    margin-top: 10px;
}

.loginContainer h1, p {
    text-align: center;
}

/* END OF REGISTER CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* INDEX CSS */

/* SIDENAV CSS */
.navContainer {
    position: absolute;
    border: 1px solid #f5e2c0;
    border-radius: 10px;
    background-color: #f5e2c0;
    left: 2px;
    top: 10px;
    height: 670px;
    width: 250px;
    padding: 20px;
}

.navlinks ul {
    display: inline;
}

.navlinks a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.navlinks li {
    margin: 20px;
    display: block;
}

.navlinks span {
    /* position: relative; */
    margin-top: 250px;
}

#logo {
    width: 25%;
    margin-left: 20px;
}

/* END OF SIDENAV CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* NAVBAR CSS */

.indexContainer {
    position: absolute;
    top: 10px;
    left: 260px;
}

.top-bar {
    border: 1px solid #f5e2c0;
    display: inline-flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5e2c0;
    width: 1100px;
}

.top-bar h1 {
    position: relative;
    left: 80px;
    font-weight: bold;
}

.top-bar img {
    width: 6%;
    border-radius: 100px;
    margin-left: 670px;
}

.body img {
    width: 25%;
    border-radius: 15px;
}

/* END OF NAVBAR CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.body {
    border: 1px solid #f5e2c0;
    height: 547px;
    position: absolute;
    border-radius: 10px;
    background-color: #f7ecd9;
    margin-top: 130px;
    padding: 50px;
    margin-left: 260px;
    width: 1100px;
    text-align: center;
}


/* POST CSS */

.post-form {
    position: absolute;
    left: 250px;
}

.file {
    width: 250px;
    margin-left: -150px;
}

.form-group label {
    font-size: 1rem;
}

.file-label {
    position: relative;
    margin-top: 15px;
    margin-bottom:25px;
    left: -277px;
}

textarea {
    margin-top: 50px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    border-radius: 3px;
    background-color: #f7ecd9;
    color: black;
    width: 500px;
}

.textarea-label {
    position: absolute;
    left: -80px;
    top: 160px;
}

.post-btn {
    margin-top: 65px;
    margin-left: 120px;
}

/* END OF POST CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* PROFILE CSS */

.profile-container img {
    position: absolute;
    left: 100px;
    top: 60px;
    width: 27%;
    border-radius: 160px ;
}

.profile-container h3, h4 {
    position: relative;
    left: 75px;
    margin: 20px;
    letter-spacing: 2px;
    top: 50px;
    font-weight: bold;
}

.profile-container button {
    margin-top: 100px;
    margin-left: 120px;
}

/* END OF PROFILE CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* EDIT PROFILE CSS */

.edit-input {
    /* margin-left: 50px; */
    width: 400px;
    border: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 2.5px;
    padding: 5px;
    background-color:#f7ecd9;
}

.edit-profile-container form {
    margin-top: -35px;
}

.edit-profile-container label {
    margin-top: 20px;
    margin-left: -370px;
}

.edit-label label {
    margin-left: -340px;
}

.edit-profile-container button {
    margin-top: 50px;
}

/* END OF EDIT PROFILE CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* SETTINGS CSS */

.settings-container h6 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.settings-container button {
    margin-top: 50px;
}

.settings-container label {
    margin-top: 20px;
    margin-left: -370px;
}

.settings-container input {
    width: 400px;
    border: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 2.5px;
    padding: 5px;
    background-color:#f7ecd9;
}

/* END OF SETTINGS CSS */

/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/